%h1.text-center
  %strong 
    Orders 
.div.col-md-6-col-md-offset-3.order-table
  %table.table
    %thead
      %tr 
        %th 
          Order ID 
        %th 
          Name 
        %th
          Email
        %th
          Action
    %tbody
      =render partial: 'order', collection: @orders